body{
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.856);
    opacity: 0.9;
    
}
.header{
    text-align: center;
    padding: 100px;
    border: 1px solid;
    background-image: url("images/logo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 50%;
    color: rgb(231, 0, 0);
    text-shadow: 2px 2px #000000;

}

.middle{
    margin: auto;
    width: 50%;
    height: 500px;
    border: 1px solid rgba(231, 0, 0, 0.5);
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.336);
    color:rgba(231, 0, 0, 0.5);
    overflow: auto;
    text-align: justify;
    scrollbar-color: rgb(231, 0, 0) rgb(0, 0, 0);
    }

.bottom{
    padding: 40px;
    border: 1px solid rgba(231, 0, 0, 0.5);
    background-image: url("images/logo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 20%;
    position: relative;
}    

.footer{
    background-color: rgb(0, 0, 0);
    padding: 60px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.contact{
    margin: auto;
    width: 60%;
    height: 500px;
    border: 1px solid rgba(231, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.336);
    color:rgba(231, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    scrollbar-color: rgb(231, 0, 0) rgb(0, 0, 0);

}

label{
    display: inline-block;
    width: 100px;
}

.history{
    margin: auto;
    width: 50%;
    height: 500px;
    border: 1px solid rgba(231, 0, 0, 0.5);
    padding: 50px;
    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.336);
    color:rgba(231, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    scrollbar-color: rgb(231, 0, 0) rgb(0, 0, 0);
    position: relative;
    
    }

.pictures{
    margin: auto;
    width: 50%;
    height: 500px;
    border: 1px solid rgba(231, 0, 0, 0.5);
    padding: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.336);
    color:rgba(231, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    scrollbar-color: rgb(231, 0, 0) rgb(0, 0, 0);
}


.top{
    padding:20px;
    background-color: rgba(87, 87, 87, 0.384);
    text-align: center;
    font-size: 25px;
    margin: auto;
    width: 75%;
    color: rgb(231, 0, 0);
    border: 1px solid;

}

.section {
    float: left;
    padding: 20px;
    height: auto;
    width: 20%;
    height: 300px; 
    color: red;
  }
.FAQ {
    float: left;
    padding: 20px;
    height: auto;
    width: 60%;
    
    height: 300px; 
    color: red;
  }
.right {
    float: left;
    padding: 20px;
    height: auto;
    width: 20%;

    height: 300px; 
    color: red;
  }

.accordion {
    background-color: rgba(87, 87, 87, 0.384);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

.active, .accordion:hover {
    background-color: rgb(138, 2, 2);
}

.panel {
    padding: 0 18px;
    background-color: rgb(22, 22, 22);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }





a:link{
    color:rgb(231, 0, 0);
}
a:hover{
    color:rebeccapurple;
    transition: 0.4s;
}
.fa:hover {
    opacity: 0.7;
    transition: 0.4s;
}

:root {
    color-scheme: dark;
  }

html { overflow-y: scroll; }
body { position: absolute; }